<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero Detail</title>
</head>
<body>
    <h1>Details about Superhero</h1>
    <ul>
        {% for hero in single_hero %}
        <li><h2>Superhero: {{hero.name}}</h2></li>
        <li>Alter Ego: {{hero.alter_ego}}</li>
        <li>Primary Ability: {{hero.primary_ability}}</li>
        <li>Secondary Ability: {{hero.secondary_ability}}</li>
        <li>Catchphrase: {{hero.catchphrase}}</li>
        {% endfor %}
    </ul>
    
</body>
</html>